<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>topページ</title>
</head>

<body>
    <main>
        <div class="w-full max-w-3xl">
            <p class=" text-4xl">Wordarium</p>
            <div class="text-lg">
                <p>日々の学習の成果が星になる。</p>
                <p>Wordariumを使って</p>
                <p>あなただけの星空を</p>
                <p>つくりましょう。</p>
            </div>
            <button
                class="btn">自分だけの星空をつくる</button>

        </div>
    </main>

</body>

</html>